{% extends "cadastro_funcionarios/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    button{
        margin-top: 10px;
    }

</style>

<form action="" method="POST" autocomplete="off">

    {% csrf_token %}
    {{form.nomeCompleto|as_crispy_field}}    
    {{form.fone|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            {{form.matricula|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.posicao|as_crispy_field}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg "><i class="fas fa-database"></i> Cadastrar</button>
        </div>

        <div class="col-md-4">
            <a href="{% url 'lista_funcionarios' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Retorne a Lista
            </a>
        </div>
    </div>

</form>

{% endblock content%}