{% extends "cadastro_funcionarios/base.html" %}


{% block content %}
    <table class="table table-boderless">
        
        <thead class="border-bottom font-weight-bold">
            
            <tr>
                <td>Nome Completo</td>
                <td>Telefone</td>
                <td>Cargo</td>
                <td>
                    <a href="{% url 'funcionarios_insert' %}"  class="btn btn-outline-success">
                        <i class="fas fa-plus"></i> Novo
                    </a>
                </td>
            </tr>            
            
        </thead>

        <tbody>
            {% for funcionarios in lista_funcionarios %}

                <tr>
                    <td>{{funcionarios.nomeCompleto}}</td>
                    <td>{{funcionarios.fone}}</td>
                    <td>{{funcionarios.posicao}}</td>

                    <td>
                        <a href="{% url 'funcionarios_update' funcionarios.id %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>

                        <form action="{% url 'delete_funcionarios' funcionarios.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </tr>

            {% endfor %}
        </tbody>

    </table>
{% endblock content%}